@import "styles/utils";
@import "styles/typography";

.pageTitle {
  @include Body;

  position: absolute;
  top: -9999px;

  @include media(">tablet") {
    top: 0;
    left: 38px;
    display: block;
    color: var(--color-light-grey);
    letter-spacing: 18px;
    text-transform: uppercase;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: left top;
    padding-left: 152px;

    &::before {
      position: absolute;
      top: calc(50% - 2px);
      left: 0;
      width: 104px;
      height: 1px;
      background: var(--color-light-grey);
      transform: translateY(-50%);
      content: "";
    }
  }

  @include media(">desktop") {
    left: 63px;
  }
}
