@import "styles/utils";

.featuredSection {
  .container {
    display: grid;
    grid-template-areas:
      "title title"
      "counterGroup counterGroup"
      "buttonContainer buttonContainer";
    gap: 24px;

    @include media(">tablet") {
      grid-template-areas:
      "title buttonContainer"
      "counterGroup counterGroup";
      gap: 85px;
    }

    @include media(">desktop") {
      gap: 64px;
    }
  }

  .title {
    grid-area: title;
    margin-bottom: 19px;

    @include media(">tablet") {
      margin-bottom: 0;
    }
  }

  .buttonContainer {
    grid-area: buttonContainer;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include media(">tablet") {
      flex-direction: row;
      justify-content: flex-end;
    }

    a, button {
      width: 100%;

      @include media(">tablet") {
        width: initial;
      }
    }
  }

  .counterGroup {
    grid-area: counterGroup;
  }

  .portfolioContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media(">desktop") {
      flex-direction: row;
      gap: 30px;
    }
  }
}
