@import "styles/utils";


.portfolioContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 56px;

  @include media(">tablet") {
    padding-top: 0;
  }

  @include media(">desktop") {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
