
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.color svg path {
    fill: var(--color-icon);
  }

  &.strokeColor svg path {
    stroke: var(--color-stroke-icon);
  }

  &.medium svg {
    width: 24px;
    height: 24px;
  }

  &.large svg {
    width: 40px;
    height: 40px;
  }
}
