@import "styles/utils";

.introSection {

  @include media(">tablet") {
    margin-top: 200px;
  }
}

.leaderSection {
  margin: 112px 0 111px;

  @include media(">tablet") {
    margin: 230px 0 239px;
  }

  @include media(">desktop") {
    margin: 200px 0 159px;
  }
}

.contactDetailsSection {

  @include media(">tablet") {
    margin-top: 226px;
  }

  @include media(">desktop") {
    margin-top: 199px;
  }
}

.contactFormSection {
  margin-top: 73px;

  @include media(">tablet") {
    margin-top: 199px;
  }

  @include media(">desktop") {
    margin-top: 159px;
  }
}
