@import "utils";

@mixin Typography($font-size, $font-weight, $font-style, $line-height, $letter-spacing, $font-family) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
}

@mixin LargeNumber {
  @include Typography(250px, 700, normal, 200px, -5px, var(--league-spartan-font));
  color: var(--color-very-light-grey);
}

@mixin HeadingXL {
  @include Typography(120px, 700, normal, 200px, -3px, var(--spartan-font));

  color: var(--color-very-light-grey);

  @include media(">desktop") {
    font-family: var(--league-spartan-font);
    font-size: 250px;
    letter-spacing: -5px;
  }
}

@mixin HeadingL {
  @include Typography(48px, 700, normal, 48px, -1.2px, var(--league-spartan-font));

  color: var(--color-white);

  @include media(">tablet") {
    font-size: 96px;
    line-height: 80px;
    letter-spacing: -2px;
  }
}

@mixin HeadingM {
  @include Typography(48px, 700, normal, 52px, -1.714px, var(--league-spartan-font));

  color: var(--color-primary);

  @include media(">tablet") {
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -2px;
  }
}

@mixin HeadingS {
  @include Typography(32px, 700, normal, 40px, initial, var(--league-spartan-font));

  color: var(--color-white);
}

@mixin Body {
  @include Typography(18px, 500, normal, 24px, initial, var(--league-spartan-font));

  color: var(--color-neutral);
}
